/* Reset padding and margin */
* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 30px;
  font: 18px/1.5 "Avenir", "Avenir Next", "Helvetica Neue", Arial, sans-serif;
  background-color: #ccc;
}

header {
  padding-bottom: 30px;
  background-color: #999; 
}

main, div {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fff; 
}

footer {
  padding-top: 15px;
  text-align: right;
  background-color: #999; 
}

a {
  text-decoration: none;
}
